.pokeInfo__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.pokeInfo___card{
    margin-top: 100px;
    width: 80%;
    min-width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pokeInfo__img{
    position: relative;
    width: 100%;
    height: 185px;
    background-color: aquamarine;
}

.pokeInfo__img img{
    position: absolute;
    width: 250px;
    left: 50%;
    top: -44%;
    transform: translateX(-50%);
}

.pokeInfo__name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.order__card{
    width: max-content;
    text-align: center;
    border: 0.3px solid #9F9F9F;
}

.pokeInfo__name h1{
    margin: 0;
    font-size: 2em;
}

.line__text{
    background-color: #9F9F9F;
    width: 30%;
    height: .4px;
}

.pokeInfo__personal{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.pokeInfo__personal li{
    list-style: none;
    text-align: center;
    font-size: 2rem;
}

.weight__height p{
    font-size: 1rem;
    color: #9F9F9F;
}

.pokeInfo__type-habilities{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.margin-rigth{
    display: flex;
    justify-content: space-between;
}

/* .btn__type{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.btn__ability{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
} */

.btn__type, .btn__ability{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.btn__type button{
    box-sizing: border-box;
    font-size: 1.3rem;
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    /* display: flex; */
}

.btn__ability button{
    box-sizing: border-box;
    font-size: 1.3rem;
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
}

.pokeInfo__type{
    width: max-content;

}

.pokeInfo__type h2{
    text-align: center;
}

.pokeInfo__habilities{
    width: max-content;
}

.pokeInfo__habilities h2{
    text-align: center;
}

.poke__navbar{
    width: 76%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poke__divider{
    background-color: #9F9F9F;
    width: 67%;
    height: .4px;
}

.poke__navbar h1{
    font-size: 3rem;
}

.poke__navbar img{
    width: 15%;
}

.poke__navbar img:hover{
    transform: scale(1.1);
    transition: transform 200 ease;
}

.stat__bar{
    width: 76%;
    margin-bottom: 50px;
}

.stat__text{
    display: flex;
    justify-content: space-between;
}

.bar__box{
    width: 100%;
    border-radius: 10px;
    background-color: gray;
}

/* barra porcentual */

.stat__content{
    text-align: right;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.bar__percentage10{
    background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    animation: percentage10 5s forwards 
  }
  .bar__percentage20{
    background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    animation: percentage20 5s forwards
  }
  .bar__percentage30{
     background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    animation: percentage30 5s forwards
  }
  .bar__percentage40{
     background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    animation: percentage40 5s forwards 
  }
  .bar__percentage50{
     background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    animation: percentage50 5s forwards
  }
  .bar__percentage60{
     background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);;
    animation: percentage60 5s forwards
  }
  .bar__percentage70{
     background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    animation: percentage70 5s forwards
  }
  .bar__percentage80{
     background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    animation: percentage80 5s forwards
  }
  .bar__percentage90{
     background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    animation: percentage90 5s forwards
  }
  .bar__percentage100{
     background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    animation: percentage100 5s forwards
  }
  
  @keyframes percentage10 {
      0%{width:0;}
      100%{width: 10%;}
  }
  
  @keyframes percentage20 {
      0%{width:0;}
      100%{width: 20%;}
  }
  
  @keyframes percentage30 {
      0%{width:0;}
      100%{width: 30%;}
  }
  
  @keyframes percentage40 {
      0%{width:0;}
      100%{width: 40%;}
  }
  
  @keyframes percentage50 {
      0%{width:0;}
      100%{width: 50%;}
  }
  
  @keyframes percentage60 {
      0%{width:0;}
      100%{width: 60%;}
  }
  
  @keyframes percentage70 {
      0%{width:0;}
      100%{width: 70%;}
  }
  
  @keyframes percentage80 {
      0%{width:0;}
      100%{width: 80%;}
  }
  @keyframes percentage90 {
      0%{width:0;}
      100%{width: 90%;}
  }
  @keyframes percentage100 {
      0%{width:0;}
      100%{width: 100%;}
  }

.pokeInfo__move{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 80%;
    min-width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-bottom: 10px;
}

.movements{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.movements button{
    font-size: 2rem;
    background: #E5E5E5;
    border-radius: 50px;
}

/* medias querys */

@media screen and (min-width: 700px) {

.btn__type{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.btn__ability{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

}